
.hero-card {
    display: flex;
    margin: 0px 162px 200px 168px;
    

}

.hero-card-right{
    width: 765;
    height: 500;
    margin: 142.5px 0px 142.5px 60px;

}
.hero-card img {
   width: 765;
   height: 785;



}
.hero-card-title{
    margin-bottom: 30px;
}
.hero-card p {
    margin-bottom: 60px;
}
.hero-card-title h5 {
    font-family: "Outfit" , sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: underline;
    color: #262626;
    

}

.hero-card h1 {
   font-family: "Raleway" , sans-serif;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 54px;
 
}

.hero-card p {
    font-family: Outfit;
   font-weight: 500;
   font-style: Medium;
   font-size: 20px;
   line-height: 150%;
   letter-spacing: 0%;
   color: #333333;

}

.hero-card h2 {
    font-family: "Outfit" , sans-serif;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 44px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #262626;

}

.hero-card h6 {
    font-family: "Outfit" , sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;


}

.hero-card-statics {
    height: 141px;
    display: flex;
    justify-content: space-between;
    padding: 24px 50px 24px 50px;
    background-color: #FFEFE5;
    border: 2px solid #262626;
    box-shadow: 8px 8px 0px 1px #FFBE99;

}

@media (max-width : 1440px) {
    .hero-card {
        margin: 0px 80px 0px 80px;
        width: 1280px;
        height: 663px;


    }
    .hero-card-right{
        width: 615px;
        height: 663px;
      

    }
    .hero-card-right {
         width: 615px;
         height: 394px;
         margin: 134.5px 0px 134.5px 50px;
    }

    .hero-card-title{
        margin-bottom: 50px;
    }

    .hero-card-statics {
        width: 615px;
        height: 115px;
        margin-top: 20px;
        padding: 20px 40px 20px 40px;

    }

    .hero-card-statics h2 {
        font-size: 34px;
    }
    .hero-card-statics h6 {
        font-size: 16px;
    }


    .hero-card h1 {

     font-size: 40px;
    }

}

@media (max-width :390px) {
    .hero-card {
        display: flex;
        flex-direction: column;
        margin: 0px 16px 600px 16px;
    }
    .hero-card img{
        width: 358px;
       height: 410px;
       gap: 10px;
       margin-bottom: 40px;
       
    }
    
    .hero-card-title {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        
    }
    .hero-card-right {
       margin: 0px 0px 50px 0px ; 
       width: 358px;
       height: 696px;


    }
    .hero-card h1 {
        font-size: 30px;
        
    }
    .hero-card-title h5 {
        font-size: 16px;
    }
    .hero-card-title p {
        font-size: 16px;
    }
    .hero-card-statics {
        display: flex;
        flex-direction: column;
        width: 358px;
       height: 385px;
       gap: 20px;
       border-radius: 10px;
       padding: 40px;

    }
}