
.nav-card-container {
     display: grid;
     grid-template-columns: repeat(2 , 1fr);
     grid-auto-rows: auto;
     gap: 50px;
     justify-content: space-between;
     align-items: center;
     margin : 100px 162px 200px 162px ;
}

@media (max-width : 1440px) {
     .nav-card-container {
          margin: 0px 80px 150px 80px;
          align-items: center;
     }
}

@media (max-width : 390px) {
     
    .nav-card-container {
        display: flex;
        flex-direction: column;
        margin: 40px 16px;
    }
}