.academics-feature-container {
     margin: 100px 155px 200px 155px;
    display: grid;
    grid-template-columns: repeat(3, 500px);
    gap :50px
}


@media (max-width : 1440px) {
    .academics-feature-container {
         margin: 80px 80px 150px 80px;
          display: grid;
          grid-template-columns: repeat(3, 400px);
          gap :40px
    }
}

@media (max-width :390px) {
    .academics-feature-container {
        margin: 80px 16px;
        display: flex ;
        flex-direction: column;
    }
    
}