.admission-card  {
    color: black;
}

.admission-card-number{
    width: 128px;
    height: auto;
    border: 2px solid #262626;
    border-radius: 12px;
    box-shadow: 6px 6px 0px 2px #1E1E1E;
    font-family: Raleway;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 60px;
    justify-content: center;
    justify-items: center;
    padding: 20px;

}

.admission-card-title-desc {
    width: 499px;
    height: 322px;
    border: 2px solid #262626;
    box-shadow: 6px 6px 0px 2px #1E1E1E;
    padding: 50px;
    

}
.admission-card-title {
    font-family: "Raleway" ,sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    margin-bottom :  20px ;

}

.admission-card-info {
    font-family: "Outfit" ,sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 20px;
}