.awards-card {
 position: relative;
 border: 2px solid #262626;
  box-shadow: 6px 6px 0px 2px #1E1E1E;
  border-radius: 12px;
  background: #FFFFFF;
   /*width: 504px;*/
  height: 400px;
  padding: 80px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.awards-image {
 position: absolute;
top: -12%;
left: 5%;
border: 2px solid #262626;
border-radius: 12px;
 height: 74px;
 width: 74px;
 background: #FFDECC;
padding: 20px;
}

.awards-title  {
font-family: "Raleway" , sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 28px;
margin-bottom: 20px;

 }

.awards-description {
font-family: "Outfit" , sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 20px;
color: #4C4C4D;

}

@media (max-width : 1440px) {
    .awards-card {
      height: 340px;
     padding: 60px 40px;
    }

    .awards-title {
        font-size: 24px;
    }

    .awards-description {
        font-size: 16px;
    }
 

}

@media (max-width : 480px) {
    .awards-card {
  height: 310px;
  padding: 50px 30px;

}
.awards-title  {

font-size: 22px;
margin-bottom: 16px;

 }

}