.team-card-container {
    margin: 100px 162px 200px 162px;
    display: grid;
    grid-template-columns: repeat(2 ,800px);
    gap : 40px;
    
}



@media (max-width : 1440px) {
    .team-card-container {
    margin: 80px 80px 150px 80px;
    display: grid;
    grid-template-columns: repeat(2 ,620px);
    gap : 40px;
    
}

}

@media (max-width : 390px) {
    .team-card-container {
      margin: 150px 16px 80px 16px;
      display: flex;
      flex-direction: column;
       gap : 40px;
    }
}