.features-container {
   
   
    


    & .feature-card {
        position: relative;
        border: 2px solid #262626;
        box-shadow: 6px 6px 0px 2px #1E1E1E;
        border-radius: 12px;
        background: #FFFFFF;
        width: 504px;
        height: 386px;
        padding: 80px 50px;
         

        & .feature-card-image{
            position: absolute;
            top: -12%;
            left: 5%;
            border: 2px solid #262626;
            border-radius: 12px;
            height: 74px;
            width: 74px;
            background: #FFDECC;
            padding: 20px;
        }

        & h2 {
            font-family: "Raleway" , sans-serif;
            font-weight: 700;
            font-style: Bold;
            font-size: 28px;
            margin-bottom: 20px;

        }

        & p {
            font-family: "Outfit" , sans-serif;
            font-weight: 500;
            font-style: Medium;
            font-size: 20px;
          
            color: #4C4C4D;


        }
    }
}

@media (max-width:1440px) { 
    .features-container {
      & .feature-card {
        width: 400px;
        height: 320px;
        padding: 45px 40px;

        & .feature-card-image{
            width: 56px;
            height: 56px;
            padding: 13px 12px;
        }

        & h2 {
            font-size: 24px;
            margin-bottom: 15px;
        }

        & p {
            font-size: 16px;
        }
         
    }
}
}

@media (max-width : 390px) {
     .features-container {
        margin: 10% 0;
      & .feature-card {
        width: 358px;
        height: 285px;
        padding: 40px 40px 0px 30px;

        & h2 {
            font-size: 22px;
            margin-bottom: 10px;
        }
      }
    }
}