.section {
    margin: 200px 166px 0px 162px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    margin-bottom: 100px;
    
    
    
}
.section-title {
    width: 992px;
}

.section-header h6 {
    font-family: "Outfit" , sans-serif;
    font-size: 18px;
    background: #FFFFFF;
    padding: 15px 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    height: 50px;
    width: 295px;
    margin-bottom: 19px;
    font-weight: 500;
    text-align: center;
    


    
    
}

.section-header h2 {
    font-family: "Raleway" , sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 58px;
    line-height: 130%;
   letter-spacing: 0%;
   text-align: center;
   margin-bottom: 20px;

}

.section-header p{
    font-family: "Outfit" , sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    width: 992px;
    height: 60px;
    color: #333333;
;


     
}

@media (max-width : 390px) {
    .section {
    margin: 80px 16px 50px 16px;
   

}
.section-header {
    width: 358px;
   height: 271px;
    

}
    .section-header h6 {
        font-size: 14px;
    }
    .section-header h2 {
        font-size: 38px;
    }
    .section-header p {
        font-size: 16px;
        width: 350px;

        
       
    }
}