.history-sequence-container {
    position: relative;
    margin: 100px 162px 0px 162px;
    background-color: white;
    border: 2px solid #262626;
    box-shadow: 6px 6px 0px 2px #1E1E1E;
    border-radius: 12px;
    /*padding: 150px 150px 50px 200px;*/
    padding: 9% 9.4% 4% 11.5%;
     
    & .sequence-line {
       
       border: 1px solid #000000;
       box-shadow: 0px 2px 1px 5px #FFBE99;
       /*height: 750px;*/
       height: 62%;
       position: absolute;
       left: 10%;
       
       top: 19.2%;
    }
     

   & .history-line {
    display: flex;
    margin-bottom: 100px;
    position: relative;
      
       & .sequence-line-horizantal {
          
       border-top: 1px solid #000000;
       box-shadow: 0px 2px 1px 5px #FFBE99;
       /*width: 60px;*/
       width:5%;
       position: absolute;
       left: -5%;
       margin-left: -3px;
       top: 50%;
       }  

      & .circle-1 {
      position: absolute;
      left: -70px;
      top:  70px;
      height: 20px;
      width: 20px;
      background-color: white;
      border: 2px solid #262626;
      border-radius: 50%;
      display: inline-block;
      }


    & .circle-2 {
      position: absolute;
      left: -10px;
      top:  70px;
      height: 20px;
      width: 20px;
      background-color: white;
      border: 2px solid #262626;
      border-radius: 50%;
      display: inline-block;
      }

        
      & .history-year {
           display: flex;
           border: 2px solid #262626;
           box-shadow: 6px 6px 0px 2px #1E1E1E;
           border-radius: 12px;
           align-items: center;
           /*padding: 30px 50px;*/
           padding: 2% 4%;
           gap: 20px;
            

                & h3 {
                  font-family: "Raleway" , sans-serif;
                  font-weight: 700;
                  font-style: Bold;
                  font-size: 68px;
                  line-height: 130%;
                  letter-spacing: 0%;

                }

                & img {
                    height: 87px;
                    width: 87px;
                }
       
            }

        & .history-title-desc{
            margin-left: 50px;

            & h4 {
                font-family: "Raleway" , sans-serif;
                font-weight: 700;
                font-style: Bold;
                font-size: 28px;
                line-height: 130%;
                letter-spacing: 0%;
                margin-bottom: 20px;

            }

            & p {
                font-family: "Outfit" , sans-serif;
                font-weight: 500;
                font-style: Medium;
                font-size: 20px;
                line-height: 150%;
                letter-spacing: 0%;
                color: #333333;


            }
        }

   }

}

@media (max-width : 1440px) {
    
    .history-sequence-container {
    
    margin: 80px 80px 150px 80px;
   /* padding: 100px 100px 50px 170px;*/
    padding: 10% 11% 4% 14%;

      & .sequence-line {
       
       height: 61%;
       left: 11%;
       margin-left: -3px;
       top: 20%;
    }

        & .history-line {
         display: flex;
         margin-bottom: 80px;
         position: relative;

             & .sequence-line-horizantal{
               width: 6% ;
                left: -6%;
 
             }
             

             & .circle-1 {
               /* left: -70px;
                top:  55px;*/
                left: -8%;
                top: 40%;
        
             }


             & .circle-2 {
               /*left: -10px;
               top:  55px;*/
               top: 40%;
             }

      
    
         & .history-year {
           padding: 25px 35px;
          
           & h3 {
             font-size: 48px;
           }

           & img {
                    height: 60px;
                    width: 60px;
                }
     }


        & .history-title-desc{
            margin-left: 40px;

              & h4 {
                font-size: 24px;
            }

            & p {
                font-size: 16px;
            }

        }
    }

}

}

@media (max-width : 390px) {
     
      .history-sequence-container {
    
       margin: 50px 16px 80px 16px;
       /*padding: 50px 20px 50px 0px;*/
       padding: 10% 2% 0% 2%;


         & .sequence-line {
      
       /*height: 1150px;*/
       height: 74%;
       position: absolute;
       left: 6%;
       margin-left: -3px;
       top: 6%;
    }

          & .history-line {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
             margin-bottom: 50px;
             gap: 30px;

                 & .sequence-line-horizantal {
                   width: 20px;
                   position: absolute;
                   left: 9%;
                   margin-left: -3px;
                   top: 14%;
                   }  
                

                 & .circle-1 {
                left: 10px;
                top:  40px;
        
             }


             & .circle-2 {
               left: 45px;
               top:  40px;
             }
              
              
              & .history-year {
                margin-right: 20px;
               padding: 20px 24px;
               height: auto;
              width: auto;
              gap: 20px;

               & img {
                height: 50px;
                width: 50px;
               }

               & h3 {
                font-size: 38px;
               }
          }

           & .history-title-desc{
            margin-left: 40px;

              & h4 {
                font-size: 22px;
                margin-bottom: 14px;
            }

            & p {
                font-size: 16px;
            }
        }
      }
}
}