
.benefit-container {
    display: flex;
    flex-direction: column;
    margin: 0px 162px 200px 162px;
}
.benefit-card-container{
    
    display: grid;
    grid-template-columns: repeat(3, 500px);
    justify-content: space-between;
    gap: 60px;
   
}
@media (max-width : 1440px) {
    .benefit-container {
         margin: 100px 100px 200px 20px;
    }

    .benefit-card-container {
         display: grid;
        grid-template-columns: repeat(3, 400px);
        gap: 60px;
        
         
    }

}

@media (max-width : 390px) {
    .benefit-container{
        margin: 500px 16px 100px 15px;
       
        padding: 0px;
    }
    .benefit-card-container {
        display: flex;
        flex-direction: column;
        margin: 0px ;
        gap: 0px;
       
        
    } 
    
    
}